.selectWrapper {
  display: flex;
  justify-content: space-between;
  .selectInput {
    width: 200px;
    font-size: 18px;
    height: 30px;
    box-sizing: border-box;
    // padding: 10px 20px;
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 10px;
    border: 1px solid #d9d9d9;
    cursor: pointer;
    border-radius: 2px;
    transition: all ease-in-out 0.2s;
  }
  .selectInputActive {
    border: 1px solid $baseColor;
  }
  .selectInput:hover {
    border: 1px solid $baseColor;
  }
  .optionList {
    position: absolute;
    left: 0;
    top: 34px;
    height: 0;
    z-index: 100;
    // transition: height ease-in-out 0.3s;
    overflow: hidden;
    width: 200px;
    background-color: #fff;
    box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%),
      0 9px 28px 8px rgb(0 0 0 / 5%);
    .optionItem {
      width: 100%;
      color: rgba(0, 0, 0, 0.65);
      font-size: 18px;
      min-height: 36px;
      box-sizing: border-box;
      font-weight: normal;
      display: flex;
      align-items: center;
      padding-left: 10px;
      transition: all ease-in-out 0.3s;
      background-color: #fff;
    }
    .optionItem:hover {
      cursor: pointer;
      background-color: rgb(235, 235, 235);
    }
    .optionItemAcitve {
      background-color: $baseLightColor !important;
      font-weight: bold;
    }
  }
  .optionList.active {
    height: auto;
  }
}
