/*postcss-pxtransform disable*/
.basePointDataWrapper {
  box-sizing: border-box;
}

.floatPointDataWrapper {
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  box-sizing: border-box;
}
.dragItem,.dragItemHotZone {
  cursor: move;
  box-sizing: border-box;
}
.dragItemChild{
  pointer-events: none;
}
.dragItemChild::after{
  @include selected($baseColor);
}
.dragItemHotZoneChild{
  pointer-events: none;
}
.dragItemHotZoneChild::after{
  @include selected(red);
}
