.loginModalWrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  outline: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  .loginModalBox {
    width: 750px;
    // height: 820px;
    padding-bottom: 80px;
    background: #ffffff;
    border-radius: 20px 20px 0px 0px;
    position: fixed;
    bottom: 0;
    left: 0;
    .close {
      position: absolute;
      right: 34px;
      top: 34px;
      width: 25px;
      height: 25px;
    }
    .title {
      font-size: 34px;
      font-weight: 500;
      color: #333333;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 55px;
      margin-bottom: 32px;
    }
    .inputWrapper {
      width: 600px;
      height: 96px;
      margin: auto;
      margin-bottom: 26px;
      padding-left: 45px;
      box-sizing: border-box;

      border-radius: 50px;
      border: 1PX solid #e0dfdf;

      display: flex;
      align-items: center;
      input {
        width: 100%;
        color: #333333;
        height: 96px !important;
        font-size: 30px;
      }
      .tel {
        width: 28px;
        height: 40px;
        margin-right: 24px;
      }
      .code {
        width: 28px;
        height: 28px;
      }
      .imgCode {
        width: 28px;
        height: 28px;
      }
     
      .area {
        height: 42px;
        display: flex;
        align-items: center;

        padding-right: 20px;
        border-right: 1px solid #cacaca;

        font-size: 30px;
        font-weight: 400;
        color: #333333;
      }

      input::placeholder {
        color: #aaaaac !important;
        font-size: 30px !important;
      }
      .input {
        flex: 1;
        padding-left: 20px;
        box-sizing: border-box;
      }
      .getCode {
        width: 154px;
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 40px;
        color: #333333;
        font-size: 30px;
      }
      .getImgCode{
        width: 160px;
        height: 64px;
        margin-right: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        .img{
          width: 160px;
          height: 64px;
        }
      }

    }

    .loginWrapper {
      width: 600px;
      height: 96px;
      background: linear-gradient(270deg, #05aceb 0%, #00d886 100%);
      border-radius: 50px;
      margin: auto;
      margin-top: 4px;
      margin-bottom: 60px;

      font-size: 34px;
      font-weight: 400;
      color: #ffffff;

      display: flex;
      align-items: center;
      justify-content: center;
    }

    .tipsWrapper {
      .tips1 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 34px;
        .icon1 {
          width: 26px;
          height: 26px;
          border-radius: 50%;
          border: 2px solid #d8d8d9;
          box-sizing: border-box;
        }
        .icon2 {
          width: 26px;
          height: 26px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #0cc2c4;
          .tick {
            width: 15px;
            height: 10px;
          }
        }
        .text {
          margin-left: 10px;
          font-size: 24px;
          font-weight: 400;
          color: #888888;
        }
        .text2 {
          color: rgba(12, 194, 196, 1);
        }
      }
      .tips2 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 34px;
        margin-top: 12px;
        padding-left: 15px;

        font-size: 24px;
        font-weight: 400;
        color: #888888;
        text-align: center;
      }
    }
  }
}
