/*postcss-pxtransform disable*/
.container {
  background-color: rgba(245, 245, 245, 1);
  height: 100%;
  width: 100%;
  margin: auto;
  .header {
    position: relative;
    z-index: 201;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    align-items: center;
    height: 60px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    .logoArea {
      min-width: 300px;
      display: flex;
      font-size: 18px;
      .name {
        margin-right: 20px;
      }
      .status {
        font-size: 14px;
        color: #fff;
        padding: 4px 8px;
        border-radius: 4px;
      }
    }

    .controlArea {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .inline {
        margin: 0 20px;
        padding: 10px;
        height: 38px;
        font-size: 18px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $baseColor;
        background-color: transparent;
        cursor: pointer;
        position: relative;
        border: 1px solid $baseColor;
        width: auto;
      }
      .inlineButton {
        margin: 0 20px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: relative;
        .button {
          background-color: transparent;
          color: $baseColor;
          padding: 10px;
          height: 38px;
          font-size: 18px;
          line-height: 1;
          border: 1px solid $baseColor;
        }
        .buttonDisabled {
          background-color: transparent;
          color: $baseColor;
          padding: 10px;
          height: 38px;
          font-size: 18px;
          line-height: 1;
          border: 1px solid $baseColor;

          opacity: 0.5;
          pointer-events: none;
          cursor: not-allowed !important;
        }
        .qrcode {
          position: absolute;
          top: 50px;
          left: 50%;
          transform: translateX(-50%);
          z-index: 200;
          padding: 10px;
          background-color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;

          box-sizing: border-box;
        }
      }
      .inline:hover,
      .inlineButton:hover {
        opacity: 0.8;
      }
    }
    .btnArea {
      width: 250px;
      margin-left: 20px;
      text-align: right;
    }
  }

  .content {
    height: 100%;
    display: flex;

    .left {
      width: 350px;
      height: calc(100vh - 60px);
      box-sizing: border-box;
      box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.2);
      background-color: #fff;
      position: relative;
      z-index: 200;
      .listWrap {
        display: flex;
        flex-wrap: wrap;
        overflow: auto;
        .listItem {
          width: 155px;
          margin: 10px;
          position: relative;
          overflow: hidden;
          user-select: none;
          border: 2px solid rgba(158, 158, 158, 0.24);
          transition: border ease-in-out 0.3s;
          box-sizing: border-box;
          cursor: move;
          height: 172px;
          display: flex;
          justify-content: center;
          &:hover {
            border: 2px solid $baseColor;
          }
        }
      }
    }

    .middle {
      .pageList {
        display: flex;
        margin: 10px 0;
        .pageListItem {
          height: 100px;
          margin: 0 10px;
          border: 2px solid rgba(158, 158, 158, 0.24);
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          .title {
            background-color: $baseColor;
            color: #fff;
            height: 30px;
            text-align: center;
            line-height: 30px;
            font-size: 14px;
            width: 100px;
            padding: 0 10px;
            @include ellipsis();
          }
        }
        .active {
          border-color: $baseColor;
        }
        .pageListItem:hover {
          border-color: $baseColor;
        }
      }
      .canvasWrapper {
        width: 1000px;
        height: 800px;
        position: relative;

        .grid {
          pointer-events: none;
          position: absolute;
          left: 0;
          top: 0;
        }
        .canvasBox {
          width: 375px;
          height: 667px;

          position: absolute;
          left: 0;
          top: 0;
          z-index: 100;
          transform-origin: top left;
          .canvas {
            position: relative;
            width: 375px;
            height: 667px;
            background-color: #fff;
            box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.2);
          }
        }
      }
    }

    .right {
      width: 400px;
      height: 100%;
      background: #fff;
      box-shadow: -2px 0px 4px 0px rgba(0, 0, 0, 0.1);
      overflow: auto;
      position: fixed;
      right: 0;
      .rightTitle {
        padding: 10px 20px;
        font-size: 20px;
        box-shadow: -2px 0px 4px 0px rgba(0, 0, 0, 0.2);
      }
      .rightContent {
        .formItem {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 16px;
          padding: 14px 20px;
          color: #606266;
          .label {
            display: flex;
            justify-content: space-between;
          }
        }
      }
      .emptyEditData {
        margin: 20px;
        font-size: 18px;
        color: rgba(0, 0, 0, 0.6);
      }
    }
  }
}

.modalWrap {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  outline: 0;
  z-index: 1000;
  .content {
    // padding: 16px;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 600px;
    min-height: 200px;
    background-color: #fff;
    .title {
      padding: 10px 16px;
      font-size: 20px;
      border-bottom: 1px solid #f0f0f0;
    }
    .modalFormItem {
      display: flex;
      align-items: center;
      font-size: 16px;
      padding: 14px 20px;
      color: #606266;
      input {
        padding-left: 10px;
        box-sizing: border-box;
        height: 30px;
        width: 400px;
        border: 1px solid #d9d9d9;
        transition: all ease-in-out 0.2s;
      }
      input:focus,
      input:hover {
        border: 1px solid $baseColor;
      }
      .label {
        margin-right: 20px;
      }
      .radioWrapper {
        border-top: 1px solid #d9d9d9;
        border-left: 1px solid #d9d9d9;
        display: flex;
        .radio {
          min-width: 80px;
          padding: 0 10px;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-right: 1px solid #d9d9d9;
          border-bottom: 1px solid #d9d9d9;
          cursor: pointer;
        }
        .radio:hover {
          background-color: $baseColor;
          color: #fff;
        }
        .active {
          background-color: $baseColor;
          color: #fff;
        }
      }
    }
    .footer {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 20px;
      border-top: 1px solid #f0f0f0;
      padding-top: 20px;
      .inline {
        width: 80px;
        margin: 0;
        margin-right: 20px;
        padding: 10px;
        height: 38px;
        font-size: 18px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: relative;
      }
      .inline2 {
        background-color: $baseColor;
      }
    }
  }
}
.mask {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.5);
  z-index: 999;
  transition: all 0.3s ease-out;
}

.menuList {
  position: absolute;

  border: 1px solid #e4e7ed;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin: 5px 0;
  padding: 6px 0;
  z-index: 500;

  .menuItem {
    font-size: 14px;
    padding: 0 20px;
    white-space: nowrap;
    color: #606266;
    height: 34px;
    line-height: 34px;
    box-sizing: border-box;
    cursor: pointer;
    transition: all ease-in-out 0.3s;

    &:hover {
      background-color: $baseLightColor;
    }
  }
}
